@charset "UTF-8";

#fullpage {
   background-color:#eee;
   #mainVisual {
      padding:140px 50px 0;
      .container {
         width:100%; height:100%;
         position:relative;
         left:50%; top:50%; transform:translate(-50%,-50%);
         background-color:#ccc;
         .left_box {
            width:61.0%; height:100%;
            float:left;
            background-color:#cc6f8a;
         }
         .right_box {
            width:37.3%; height:100%;
            float:left;
            margin:0 0 0 1.7%;
            background-color:#ccb881;
         }
      }
   }



//   KGN  section3
   .box_{
      @include boxSizing;
      background-color: #aaa;
      padding: 140px 0 0;
      width: 100%;
      height: 100%;
   }
   .con3{
      .box{
         width: 100%;
         height: 100%;
         @include boxSizing;
         padding: 0 0 0 12%;
         background-color: #ff0;
         .item_box{
            width: 100%;
            height: calc(100% - 66px - 410px);
            background-color: #f0f;
            margin: 0 0 66px;
            & > div{
               float: left;
            }
            .title_box{
               width: 297px;
               height: 100%;
               background-color: #fff;
               h3{
                  font-size: 48px;
               }
            }
            .item_swiper{
               width: calc(100% - 297px);
               height: 100%;
               .swiper-wrapper{
                  width: 100%;
                  height: 100%;
                  .swiper-slide{
                     width: 254px;
                     height: 100%;
                     a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        .item_info{
                           h4{
                              font-size: 22px;
                           }
                           div{
                              font-size: 21px;
                              span{

                              }
                           }
                        }
                     }
                  }
               }
            }
         }
         .item_box::after{
            display: block;
            content: " ";
            clear: both;
         }
         .story_box{
            width: 100%;
            height: 410px;
            background-color: #00f;
         }
      }
   }
}


