@charset "UTF-8";
header {
   width:100%;
   height:60px; display:block; padding:10px 20px 0 16px;
   align-items:center;
   //background-color: #aaa;
   background-color:transparent;
   position:fixed; z-index:99;
   @include boxSizing();
   @extend %clearfix;
   @extend %clearfix;
   #logo {
      width:126px; height:auto; display:inline-block; float:left;
      a{
         display: block;
         width: 100%;
         height: 100%;
         img{
            width: 100%;

         }
      }
   }

   & > div.donate_btn {float:right;}
}
/* footer */
.footer {
   width:100%; background-color:#181b2e; letter-spacing:normal;
   color: #fff;font-size: 12px;text-align: center;line-height: 1.6;
   padding: 20px 0;
   span{
      display: inline-block;
      margin: 0 2px;
   }
   b{
      font-weight: $bold;
   }
}
.donate_btn {
   a {width:132px; padding:13px 0; display:inline-block; background-color:$red; color:#fff; font-size:13px; border-radius:70px; text-align:center; }
}

